# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Build / packaging
develop-eggs/
eggs/
.eggs/
lib/
*.egg-info/
.installed.cfg
*.egg
target/

# Django / database
local_settings.py
db.sqlite3

# OS files
.DS_Store

# Editor files
.idea/
#*#
*.swp

# Node
node_modules/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local